header{
    background-color: rgb(49, 46, 46);
}
h1{
    color: aquamarine;
    text-align: center;
}
/* se agrega sentencia de color de fondo y alineacion */
nav{
    background-color: rgb(142, 230, 200);
    text-decoration: none;
}
article{
    background-color: rgb(79, 176, 255);
    text-align: center;
}
aside{
    background-color: rgb(226, 43, 171);
    text-align: center;
}
footer{
    background-color: rgb(255, 238, 6);
    text-align: center;
}